html,body{
    padding: 0px;
    margin: 0px;
    font-family: Microsoft YaHei;
	background-color: #eee;
}
.col-md-3,.col-md-12{
    padding: 0px;
}
/*head部分*/
.top-green-bar{
    height: 25px;
    background-color: #246900;
    width: 100%;
}
.top-title{
    background-image: url("../images/title.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 106px;
}
.top-bar-logo{
	height: 106px;
}
.top-bar-logo img{
	margin-top: 25%;
	width: 70px;
}
.top-bar-title{
	height: 106px;
}
.top-bar-title .first-img{
	margin-top: 12%;
	margin-bottom: 5%;
}
.top-bar-word{
	height: 106px;
}
.top-bar-word div{
	color: #1F5900;
	font-size: 24px;
	font-family: Microsoft YaHei;
	margin-top: 30px;
}
.top-bar-right{
	height: 106px;

}
.top-bar-right div{
	color: #fff;
	font-size: 15px;
	font-family: Microsoft YaHei;
	text-align: right;
	margin-bottom: 3%;
	margin-top: 6%;
}
.top-bar-right input{
	line-height: 27px;
    margin-right: -4px;
}
.top-bar-right img{
	margin-top: -4px;
	cursor: pointer;
}
.top-bar-right span{
	float: right;
}

/*导航*/
nav{
	height: 50px;
}
nav .container .row{
	background-color: #fff;
}
nav li{
	list-style-type: none;
	float: left;
	width: 16.666667%;
	font-size: 16px;
	text-align: center;
}
nav a{
	color: #000;
	text-decoration: none;
	background: #fff;
	line-height: 50px;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: none;
	color: #000;
}
nav a:hover{
	color: #fff;
	background: #369901;
	text-decoration: none;
}
#menu ul li a{
	display:block; 
}
#menu ul li ul{
	border: 1px solid #ccc; 
  	display: none; 
	position: absolute;
	z-index: 999;
	background: #369901;
	padding: 10px 0;
}
#menu ul li ul li{
	float: none; 
	width: 170px; 
	background: #369901; 
	margin: 2px 0;
	text-indent: 25%;
	text-align: left;
}
#menu ul li ul li a{ 
	color: #fff;
	background:none;
}
#menu ul li ul li a:hover{ 
	background:#fff; 
	color:#369901;
}
#menu ul li:hover ul{ 
    display:block;
}
#menu ul li.sfhover ul{ 
    display:block;
}	
#menu ul li.sfhover a{
    color: #fff;
	background: #369901;
	text-decoration: none;
}



/*footer部分*/
#bottom-all{
	background-image: url("../images/bottom-bgimg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.copyRight{
	margin-top: 40px;
}
.copyRight p{
	font-weight: bold;
}
.bottomeBar{
	background: rgba(188,188,188,.3);
	padding-top: 30px;
}
.bottomeBar .oftenLinks{
	font-size: 15px;
	height: 150px;
	border-right: 2px solid #9F9F9F;
}
.bottomeBar .links ul{
	padding: 0px;
}
.bottomeBar .links li{
	float: left;
	width: 50%;
	height: 35px;
	list-style-type: none;
}
.bottomeBar .links li a{
	line-height: 35px;
	background: transparent;
}
.bottomeBar .links li a:hover{
	text-decoration: underline;
	color: #000;
}
.bottomeBar .logo img{
	height: 120px;
	width: 120px;
}
.bottomeBar .qrcode{
	padding: 5px;
}
.bottomeBar .qrcode p{
	background: #01A46D;
	font-size: 12px;
}
.bottomeGreen{
	background: #256A00;
	padding: 17px 0px;
}
.bottomeGreen p{
	color: #fff;
	line-height: 20px;
}




/*轮播图*/

div#myCarousel {
    /*margin-left: -15px;
    margin-right: -15px;*/
}
#myCarousel .slide1{
	background-image: url("../images/slide-1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 540px;
}
#myCarousel .slide2{
	background-image: url("../images/slide-2.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 540px;
}
#myCarousel .slide3{
	background-image: url("../images/slide-3.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 540px;
}
#myCarousel .slide4{
	background-image: url("../images/slide-4.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 540px;
}
#myCarousel .slide5{
	background-image: url("../images/slide-5.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 540px;
}
#myCarousel .slide6{
	background-image: url("../images/slide-6.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 540px;
}
#myCarousel ol li{
	margin-left: 10px; 
}


/*公告*/
.notice{
	background: #73B850;
	height: 30px;
	margin-bottom: 30px;
}
.notice span{
	border-right: 2px solid #fff;
	line-height: 30px;
	font-size: 18px;
	color: #fff;
	padding-right: 10px; 
}
.notice p{
	display: inline-block;
	color: #fff;
	font-size: 16px;
}
.bottomeline{
	width: 90%;
	height: 2px;
	border-bottom: 2px solid #B1B1B1;
}
.news div{
	/*height: 200px;*/
}
.news img{
	margin-bottom: 15px;
}
.more{
	text-align: right;
	padding-top: 10px;
}
.more p{
	cursor: pointer;
}

/*项目展示*/
.project{
	/*margin-top: 30px;*/
	padding-bottom: 80px;
}
.project .title{
	font-size: 18px;
	border-bottom: 2px solid #73B850;
	margin-bottom: 30px;
}
.project .title p{
    display: inline-block;
    margin-left: -15px;
    background-color: #73B850;
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: -15px;
    line-height: 30px;
    color: white;
}

.project .currentProject span{
	color: #2175E5;
}
.project .page{
	text-align: right;
	padding-top: 10px;
}
.project .page span{
	border: 1px solid #DCDCDC;
	width: 5px;
	padding: 4px 7px;
	margin-right: 3px;
	cursor: pointer;
}
.table-striped>tbody>tr:nth-child(odd){
    background-color: #EEF9E5;
}
/*更多*/
#findMore{
	margin-top: 200px;
    text-align: right;
    padding-right: 30px;
}

#singlepage1-topimg{
	background-image: url("../images/top-bar-1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 230px;
}

/*单页1-左边栏*/
#singlepage1-left{
	margin-top: 10px;
	padding-right: 90px;
}
#singlepage1-left p{
	background-color: #359901;
	height: 35px;
	color: white;
	font-size: 18px;
	line-height: 35px;
    padding-left: 20px;
}
#singlepage1-left ul{
	padding-left: 10px;
}
#singlepage1-left li{
	list-style: none;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 10px;
    height: 30px;
	border-bottom: 1px solid #CDCDCD;
	margin-top: 10px;
}


/*团队简介单页*/
pre{
	background-color: #eee;
	border:none;
	border-radius: 0px;
	font-size: 16px;
	line-height: 30px;
	font-family: Microsoft YaHei;
}
hr{
	border-top: 2px solid #C5C5C5;
	margin-bottom: 30px;
}
.intro-content{
	margin-top: 10px;
}
.intro-content .public{
	text-align:center;
	float:left;
	width:100%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.intro-content .public-content{
	width:50%;
	float:left;
}
.intro-content .public-content img{
	width: 50%;
}
.intro-content .public-content div{
	margin-bottom:20px;
	display:inline;
	padding:10px;
	background-color: #00A66D;
	color: #ffffff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
}
.intro-content img.poster{
	width: 40%;
	margin-top: 30px;
}

.intro-content .teamintro img{
	width: 100%;
}
.intro-content .title{
	border-left: 20px solid #359901;
	width: 300px;
	padding-left: 10px;
	font-size: 18px;
	display: inline-block;
	border-bottom: 1px solid #359901;
	/*padding-right: 100px;*/
	color: #359901;
	line-height: 30px;
}
.intro-content .sub-title{
	color: #359901;
	line-height: 30px;
	font-size: 18px;
	margin-top: 20px;
}
.intro-content .content{
	text-indent: 2em;
	font-size: 16px;
	margin-top: 15px;
	line-height: 30px;
}
.intro-content .content-teamfamily img{
	width: 100%;
}
#video.intro-content{
	margin-top: 50px;
	margin-bottom: 50px;
}
#intro-team.intro-content .title{
	display: block;
}
#intro-team.intro-content img{
	width: 350px;
	height: 150px;
	/*margin: 20px;*/
}
.slidedown{
	position:relative;
	width: 350px;
    height: 150px;
}
.slidedown img{
	position:absolute;
	top:0;
	left:0;
}
.slidedown .jieshao{
	background-color: #EEF9E5;
	margin:20px 0px;;
	height: 150px;
	width: 350px;
	padding-top: 20px;
	padding-left: 40px;
}

.intro-content .teacher-info{
	height: 200px;
	background-color: #7A9D5F;
}
.intro-content .transfer img{
	height: 170px;
	width: 120px;
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 10px;
	margin-bottom: 25px;
}
.intro-content .teacher-info .teacher-img p{
	display: inline;

}
.intro-content .left-img-info{
	/*width: 250px;
	height: 200px;
	background-color: #7A9D5F;*/
}


/*简介：导师介绍*/
.transfer{
	display: inline;
	float: left;
	background-color: #7A9D5F;
    height: 250px;
}
.middlediv{
	padding-left:20px;
	padding-right:10px;
	width:150px;
	padding-top: 60px;
	margin-right: 10px;
	color: #fff;
}
.div-span1{
	font-size: 20px;
}
.div-span2{
	text-align:justify;
	font-size: 13px;
}
.rightdiv{
	width:400px;
	height:250px;
	display: -moz-box;
	display:-webkit-flex;
	display: -ms-flexbox;
	-moz-box-orient: vertical;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	background-color: #E0E4D8;
}
.rightdiv-div{
	-moz-box-flex: 1;
	-webkit-flex:1;
	-ms-flex:1;
	position:relative;
	height: 60px;
    width: 400px;
    margin-left: -20px;
    margin-bottom: -20px;
}
.rightdiv-div span{
	position:absolute;
	bottom:0px;
	width:100%;
	height:55px;
	background-color: #E2E2E2;
	display: -webkit-flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.strangediv{
	width: 100px;
	height: 280px;
}


#insert-search .NeiRong{
	padding-top: 40px;
}
#insert-search .NeiRong .col-md-8{
	border-left: 2px solid #7ac943;
	margin-bottom: 3%;
}
#insert-search .NavsLeftDiv p{
	color:#5b5b5b;
	background-color: #7ac943;
	font-size: 18px;
	clear:both;
	text-align: center;
	height: 40px;
    line-height: 40px;
}
#insert-search .NavsLeftDiv ul{
	padding-left: 0;
}
#insert-search .NavsLeftDiv ul li{
	cursor: pointer;
	color:#737373;
	clear:both;
	font-size: 16px;
	padding-left: 10px;
	height: 45px;
	border-bottom: 2px solid #e5e5e5;
	padding-top: 10px;
}
#insert-search .NavsLeftDiv ul li img{
	padding-right: 15px;
}
#insert-search .Weizhi{
	border-bottom: 2px solid #69922C;
	margin-top: -20px;
	margin-bottom: 10px;
}
#insert-search .Weizhi p{
	color: #737373;
	font-size: 12px;
	text-align: right;
}
#insert-search .YJScontents{
	padding-top: 15px;
	padding-bottom: 20%;
}
#insert-search .YJScontents p{
	color: #737373;
	font-size: 15px;
}
#insert-search .title{
	float: left;
	padding-left: 15px;
}
#insert-search .date{
text-align: right;
}
div#insert-search {
    margin-top: 40px;
}
div#insert-search input#keyword {
    width: 20%;
    display: inline;
}
.form-control {
    margin-left: 15px;}





/*jie*/
/*合作 诚邀合作、利益共享*/
.co_title{
	font-size:18px;
	padding-left: 15px;
	border-bottom: 2px solid #73B850;
	margin-bottom: 30px;
}
.co_title span{
	display:inline-block;
	margin-left: -15px;
    background-color: #73B850;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 15px;
    line-height: 33px;
}
.co_title p{
	color:#73B850;
	display:inline-block;
	margin:3px auto;
}
.co_content{
	margin-left:20px;
	margin-right:20px;
}
.co_content span{
	color:#73B850;
	font-size:18px;
}
/*招新：团队简介*/
.teamintro_div{
	padding-right:100px;
	padding-top:30px;
}
.teamintro_div img{
	display:block;
	margin:0 auto;
	height:200px;
}
.teamintro_div p{
	font-size:20px;
	text-align:center;
}
#teamintro_title{
	font-size:30px;
	text-align:center;
	margin-top:50px;
	margin-bottom:50px;
}
/*招新：报名表*/
.enroll_div{
	padding-right:100px;
	padding-top:30px;
}
.enroll_div img{
	display:block;
	margin:0 auto;
}
.enroll_title{
	display:block;
	margin-top:50px;
}
.enroll_line{
	display:block;
	margin: 0 auto;
	border-bottom: 2px solid #000000;
	width:200px;height:30px;
	margin-bottom:20px;
}
.enroll_tip{
	display:block;
	margin: 0 auto;
	background-color:#73B850;
	color:#ffffff;
	width:150px;
	text-align:center;
	border-radius: 3px;
	margin-top:20px;
	margin-bottom:50px;
}

/*联系*/
.contact_title{
	padding-left:10px;
	font-size:18px;
	border-bottom: 2px solid #B1B1B1;
	margin-top:50px;
	margin-bottom:20px;
	line-height: 30px;
}
.contact_content{
	padding-bottom: 150px;
}
.contact_content span{
	display: inline-block;
	margin-bottom:5px;
	padding-left: 10px;
	line-height: 30px;
	font-size: 16px;
}
.contact_content p{
	padding-left: 10px;
	line-height: 30px;
	font-size:18px;
}

/*list_article*/
.list_article_main{
	margin-top: 50px;
	margin-bottom: 150px;
}
.list_article_div{
	margin-left: 50px;
	margin-right: 50px;
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
}
.list_article_p1{
	display:inline-block;
	width:250px;
	margin: 0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.list_article_p2{
	display:inline-block;
	margin: 0 auto;
	float:right;
	color:#326331;
}
.list_article_p1 a{
	color: #326331;
}
.list_article_p1 a:hover{
	color: #993333;
	text-decoration:none;
}